[package]
name = "kinematic_loading"
version = "0.19.0"
authors = ["Azriel Hoh <mail@azriel.im>"]
edition = "2018"

[lib]
doctest = false
test = false

[dependencies]
amethyst = { git = "https://github.com/amethyst/amethyst.git", branch = "wasm", default-features = false, features = ["audio", "network", "renderer", "no-slow-safety-checks", "test-support", "wav", "web_socket"] }
asset_model = { path = "../asset_model" }
derive-new = "0.5.8"
kinematic_model = { path = "../kinematic_model" }
serde = { version = "1.0.106", features = ["derive"] }
