[Unit]
Description=Will Session Server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart=/usr/bin/env /home/ubuntu/session_server --address 10.0.0.13

[Install]
WantedBy=multi-user.target
