[package]
name = "ui_audio_loading"
version = "0.18.0"
authors = ["Azriel Hoh <mail@azriel.im>"]
edition = "2018"

[lib]
doctest = false
test = false

[dependencies]
amethyst = { git = "https://github.com/amethyst/amethyst.git", branch = "maintenance/correct-amethyst-test-features", default-features = false, features = ["audio", "network", "renderer", "no-slow-safety-checks", "vulkan", "test-support"] }
asset_loading = { path = "../asset_loading" }
ui_audio_model = { path = "../ui_audio_model" }
derivative = "2.1.0"
derive-new = "0.5.8"
log = "0.4.8"
