[package]
name = "net_model"
version = "0.18.0"
authors = ["Azriel Hoh <mail@azriel.im>"]
edition = "2018"

[lib]
doctest = false
test = false

[dependencies]
amethyst = { git = "https://github.com/amethyst/amethyst.git", branch = "maintenance/correct-amethyst-test-features", default-features = false, features = ["audio", "network", "renderer", "no-slow-safety-checks", "vulkan", "test-support"] }
derivative = "1.0.3"
derive-new = "0.5.8"
derive_more = "0.99.2"
log = "0.4.8"
network_session_model = { path = "../network_session_model" }
serde = { version = "1.0.104", features = ["derive"] }
session_host_model = { path = "../session_host_model" }
session_join_model = { path = "../session_join_model" }
