// This is shared by examples throughout the repository
(
  title: "Autexousious",
  dimensions: Some((800, 600)),
  max_dimensions: Some((800, 600)),
  min_dimensions: Some((800, 600)),
  fullscreen: None,
  multisampling: 0, // #12
  visibility: true,
  vsync: false,
)
