// For a list of key codes, see <https://docs.rs/winit/0.18.1/winit/enum.VirtualKeyCode.html>
InputConfig(
    // Controllers are numbered using zero based indices, so player "one" is 0
    controller_configs: {
        "Player One": ControllerConfig(
            axes: {
                X: Emulated(pos: Key(Right), neg: Key(Left)),
                Z: Emulated(pos: Key(Down), neg: Key(Up)),
            },
            actions: {
                Defend: Key(O),
                Jump: Key(P),
                Attack: Key(LBracket),
                Special: Key(RBracket),
            },
        ),

        "Player Two": ControllerConfig(
            axes: {
                X: Emulated(pos: Key(D), neg: Key(A)),
                Z: Emulated(pos: Key(S), neg: Key(W)),
            },
            actions: {
                Defend: Key(Key1),
                Jump: Key(Key2),
                Attack: Key(Key3),
                Special: Key(Key4),
            },
        ),

        "Player Three": ControllerConfig(
            axes: {
                X: Emulated(pos: Key(J), neg: Key(G)),
                Z: Emulated(pos: Key(H), neg: Key(Y)),
            },
            actions: {
                Defend: Key(Key5),
                Jump: Key(Key6),
                Attack: Key(Key7),
                Special: Key(Key8),
            },
        ),
    },
)
