// For a list of key codes, see <https://docs.rs/winit/0.13.1/winit/enum.VirtualKeyCode.html>
(
    axes: {
        // Players are numbered using zero based indices, so player "one" is 0
        (player: 0, axis: X): (pos: Key(Right), neg: Key(Left)),
        (player: 0, axis: Z): (pos: Key(Down), neg: Key(Up)),
    },
    actions: {
        (player: 0, action: Defend): Key(O),
        (player: 0, action: Jump): Key(P),
        (player: 0, action: Attack): Key(LBracket),
        (player: 0, action: Special): Key(RBracket),
    },
)
