[package]
name = "team_model"
version = "0.15.0"
authors = ["Azriel Hoh <mail@azriel.im>"]
edition = "2018"

[lib]
doctest = false
test = false

[dependencies]
amethyst = { git = "https://github.com/amethyst/amethyst.git", features = ["no-slow-safety-checks", "vulkan"] }
derivative = "1.0.3"
derive_more = "0.15.0"
numeric_newtype_derive = { path = "../numeric_newtype_derive" }
serde = { version = "1.0.102", features = ["derive"] }

[features]
nightly = ["amethyst/nightly"]
