[package]
name = "control_settings_loading"
version = "0.18.0"
authors = ["Azriel Hoh <mail@azriel.im>"]
edition = "2018"

[lib]
doctest = false
test = false

[dependencies]
amethyst = { git = "https://github.com/amethyst/amethyst.git", branch = "wasm", default-features = false, features = ["audio", "network", "renderer", "no-slow-safety-checks", "test-support", "wav", "web_socket"] }
camera_model = { path = "../camera_model" }
control_settings_model = { path = "../control_settings_model" }
game_input_model = { path = "../game_input_model" }
indexmap = { version = "1.3.2", features = ["serde-1"] }
kinematic_model = { path = "../kinematic_model" }
log = "0.4.8"
smallvec = "1.2.0"
sprite_model = { path = "../sprite_model" }
ui_label_model = { path = "../ui_label_model" }
ui_model = { path = "../ui_model" }
strum = "0.18.0"
