[package]
name = "logic_clock"
version = "0.14.0"
authors = ["Azriel Hoh <mail@azriel.im>"]
edition = "2018"

[dependencies]
amethyst = { git = "https://github.com/azriel91/amethyst.git", features = ["no-slow-safety-checks", "vulkan"], branch = "maintenance/update-dependencies" }
derive-new = "0.5.8"
logic_clock_derive = { path = "../logic_clock_derive" }
serde = "1.0.101"

[dev-dependencies]
derive_deref = "1.1.0"
derive_more = "0.15.0"
