[package]
name = "logic_clock"
version = "0.18.0"
authors = ["Azriel Hoh <mail@azriel.im>"]
edition = "2018"

[lib]
doctest = true
test = false

[dependencies]
amethyst = { git = "https://github.com/amethyst/amethyst.git", branch = "maintenance/correct-amethyst-test-features", default-features = false, features = ["audio", "network", "renderer", "no-slow-safety-checks", "vulkan", "test-support"] }
derive-new = "0.5.8"
logic_clock_derive = { path = "../logic_clock_derive" }
serde = { version = "1.0.105", features = ["derive"] }

[dev-dependencies]
derive_deref = "1.1.0"
derive_more = "0.99.5"
