[package]
name = "logic_clock"
version = "0.15.0"
authors = ["Azriel Hoh <mail@azriel.im>"]
edition = "2018"

[lib]
doctest = true
test = false

[dependencies]
amethyst = { git = "https://github.com/amethyst/amethyst.git", features = ["no-slow-safety-checks", "vulkan"] }
derive-new = "0.5.8"
logic_clock_derive = { path = "../logic_clock_derive" }
serde = { version = "1.0.102", features = ["derive"] }

[dev-dependencies]
derive_deref = "1.1.0"
derive_more = "0.15.0"
