[package]
name = "variant_struct_derive"
version = "0.16.0"
authors = ["Azriel Hoh <mail@azriel.im>"]
edition = "2018"

[lib]
proc-macro = true
doctest = false
test = false

[dependencies]
proc-macro2 = "1.0.7"
proc_macro_roids = "0.6.1"
quote = "1.0.2"
syn = { version = "1.0.13", features = ["extra-traits", "visit"] }
