(
  title: "Will",
  dimensions: Some((800, 600)),
  max_dimensions: None,
  min_dimensions: None,
  fullscreen: None,
  // Currently set to 0 for CI to pass. In the future we should use an environmental variable.
  // See #12.
  multisampling: 0,
  visibility: true,
  vsync: true,
)
