(
  title: "Autexousious",
  dimensions: Some((1024, 768)),
  max_dimensions: None,
  min_dimensions: None,
  fullscreen: false,
  // Currently set to 0 for CI to pass. In the future we should use an environmental variable.
  // See #12.
  multisampling: 0,
  visibility: true,
  vsync: true,
)
