[package]
name = "test_object_model"
version = "0.18.0"
authors = ["Azriel Hoh <mail@azriel.im>"]
edition = "2018"

[lib]
doctest = false
test = false

[dependencies]
amethyst = { git = "https://github.com/amethyst/amethyst.git", branch = "maintenance/correct-amethyst-test-features", default-features = false, features = ["audio", "network", "renderer", "no-slow-safety-checks", "vulkan", "test-support"] }
asset_derive = { path = "../asset_derive" }
audio_model = { path = "../audio_model" }
collision_model = { path = "../collision_model" }
derivative = "2.1.0"
derive-new = "0.5.8"
kinematic_model = { path = "../kinematic_model" }
object_model = { path = "../object_model" }
object_type = { path = "../object_type" }
sequence_model = { path = "../sequence_model" }
serde = { version = "1.0.105", features = ["derive"] }
spawn_model = { path = "../spawn_model" }
sprite_model = { path = "../sprite_model" }
strum = "0.18.0"
strum_macros = "0.18.0"
