[package]
name = "collision_play"
version = "0.18.0"
authors = ["Azriel Hoh <mail@azriel.im>"]
edition = "2018"

[lib]
doctest = false
test = false

[dependencies]
amethyst = { git = "https://github.com/amethyst/amethyst.git", default-features = false, features = ["audio", "network", "renderer", "no-slow-safety-checks", "vulkan", "test-support"] }
collision_model = { path = "../collision_model" }
derivative = "2.1.0"
derive-new = "0.5.8"
log = "0.4.8"
logic_clock = { path = "../logic_clock" }
mirrored_model = { path = "../mirrored_model" }
sequence_model = { path = "../sequence_model" }
shape_model = { path = "../shape_model" }
slotmap = { version = "0.4.0", features = ["serde"] }
spawn_model = { path = "../spawn_model" }
team_model = { path = "../team_model" }
